* {
  margin: 0;
  padding: 0;
}

body {
  background-color: black;
  width: 100vw;
  overflow-x: hidden;
}

.sec1,
.sec2,
.sec3 {
  opacity: 0;
  transform: translateY(100px) scaleX(0.5);
}

.animate {
  animation: riseFade 2s ease forwards;
}

@keyframes riseFade {
  0% {
    opacity: 0;
    transform: translateY(100px) scaleX(0.5);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scaleX(1);
  }
}

.sec1 h1 {
  text-align: center;
  color: yellow;
  font-size: 10vw;
}

.sec1 p {
  color: yellowgreen;
  display: block;
  text-align: center;
}

.sec2 {
  width: 100%;
}

.sec2 h2 {
  color: white;
  text-align: center;
}

.nav {
  width: 100%;
  min-height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.nav a {
  text-decoration: none;
}

#img1 {
  border-radius: 0;
}

.sec3 {
  width: 100%;
  min-height: 100px;
  margin-top: 10vh;

  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

h2 {
  color: white;
}

.ql {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
}

.bh {
  color: white;
}

li {
  color: transparent;
}

.icon-outline {
  color: transparent;
  text-shadow: 0px 0px 0px rgb(0, 0, 0), 0 0px 2px rgb(255, 166, 0),
    0px 0px 0px rgb(255, 166, 0);
  -webkit-text-stroke: 0.8px rgb(224, 153, 0);
}




.copyr{
  color: white;
  margin-top: 10px;
  margin-bottom: 5px;
  text-align: center;
  width: 100%;
}


.str{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  color: yellow;
}

@media screen and (min-width: 1000px) {
  .sec1 p {
    width: 97%;
    margin-left: 1.5%;
    font-size: 2.5vw;
    margin-top: 35px;
  }

  .sec2 h2 {
    font-size: 5vw;
  }

  .nav {
    margin-top: 70px;
    width: 64%;
    margin-left: 18%;
  }

  img {
    width: 10vw;
    border-radius: 50%;
  }

  .sec2{
    margin-top: 10vh;
  }
  .sec3 {
    width: 90%;
    margin-left: 5%;
    margin-top: 15vh;
  }

  h2 {
    text-align: center;
  }

  .cxc {
    flex: 1 1 22%;
  }

  .ql {
    gap: 10px;
  }

  #x0x {
    display: none;
  }


  .str{
    font-size: 3vw;
    margin-bottom: 20px;
    margin-top: 15px;
    margin-left: 2vw;
  }

  .rev{
    width: fit-content;
    margin-left: 7vw;
  }

  #review{
    padding: 10px 20px;
    border: 0;
    border-radius: 20px;
    font-size: 1.4vw;
    font-weight: 600;
  }

  #bhx{
    font-size: 2.5vw;
  }

#cxcxx{
  text-align: left;
  margin-left: 8vw;
}

.cxc h2{
  margin-bottom: 20px;
  margin-left: -8.4vw;
}

i{
  margin-bottom: 15px;
  margin-right: 10px;
}


.cxc{
  font-size: 1.5vw;
}

.ql{
  margin-left: 3vw;
}

.bh {
  text-align: left;
}

#bh{
  margin-left: 0vw;
}

.copyr{
  margin-top: 50px;
}

#bhx{
  margin-left: 2vw;
}





}

@media screen and (max-width: 1000px) {
  .sec1 {
    margin-top: 10vh;
  }

  .sec2 {
    margin-top: 15vh;
  }

  .sec3 {
    margin-top: 15vh;
  }

  .sec1 p {
    width: 90%;
    margin-left: 5%;
    font-size: 3.5vw;
    line-height: 1.5;
    margin-top: 25px;
  }

  .sec2 h2 {
    font-size: 7vw;
  }

  .nav {
    margin-top: 50px;
  }

  img {
    width: 17vw;
    border-radius: 50%;
  }

  .cxc {
    width: 50%;
    padding: 10px 0;
    margin-top: 25px;
    margin-bottom: 25px;
  }

  .cxc h2 {
    font-size: 5vw;
  }

  #cvc {
    margin-left: 15%;
  }

  .ql {
    margin-left: 30%;
  }

  .bh,
  #bh {
    text-align: center;
  }

  .ql,
  .bh,
  .pp {
    margin-top: 35px;
    gap: 20px;
    font-size: 3.5vw;
  }
  #x1x {
    display: none;
  }

  i {
    margin-right: 10px;
    margin-bottom: 20px;
  }

  #cxcxx {
    margin-top: 40px;
    width: 100%;
    text-align: center;
  }

  #cxcxx h2 {
    margin-bottom: 30px;
  }

  #cxcxx a {
    font-size: 4vw;
  }

  #bhx {
    text-align: center;
    margin-bottom: 20px;
  }

  .str{
    font-size: 9vw;
    width: fit-content;
    margin: auto;    
    margin-bottom: 30px;

  }

  .rev{
    margin: auto;
    width: fit-content;
  }

  #review{
    font-size: 5vw;
    font-weight: 600;
    padding: 10px 15px;
    background-color: royalblue;
    border: 0;
    border-radius: 20px;
  }

  #cvxcx{
    width: 90%;
  }

}
